<div class="row">
	<div class="col-md-6 text-center">
		{{id}}. {{name}}
	</div>
	<div class="col-md-6 text-center">
		<button class="change-eaten btn-outline-danger" data-id="{{id}}" data-newtype="{{eaten}}">Devour It!</button>
	</div>
</div>